<div class="_title">
<div class="container">
<div class="row">
<div class="d-sm-block" style="width:100%;">
<div class="text-center">
<a href="/" class="_plainlinks">
<h1 id="_title">The Cave of Origin</h1>
</a>
<h2 id="_subtitle">The place from whence <em>hax</em> issue forth.</h2>
</div>
</div>
</div>
</div>
<div class="_topbar"></div>
</div>
